@mixin color ($color){
    color: $color;
}
@mixin border ($color){
    border: 1px solid $color;
}
@mixin font-size ($size){
    font-size: $size;
}

div{
    border: 1px solid red;
    padding: 15px; 
    display: grid;
    grid-template-rows: 60px 120px 120px;

    h1{
        text-align: center;
        @include color(green);
        @include border (purple);
        padding-bottom: 15px;
    }
    section{
    display: flex;
    justify-content: center;
    margin: 15px;
    width:100%;
    article{
        @include border (green);
        width: 100%;
        text-align: center;
        p{
            margin: 10px;
        }
    }
    }
}

#section1{
    :first-child, :nth-child(3){
        @include color(blue);
    }
       :last-child, :nth-child(2){
        @include color(red);
    }
}


#section2{
    @include border (blue);
    @include color (green);
    @include font-size (larger);
    display: flex;
    align-content: center;
}